.asside_wrapper
  width 192px
  float right
  margin-bottom 60px
  .aside_top
    border-bottom 1px solid #ddd
    padding-bottom 5px
    color #333
  .aside_item
    margin 1.5px 0
    padding 10px 0 10px 3px
    border-bottom 1px solid #eee
    font-size 12px
    color #37a
    cursor pointer
    &:hover
      background #f6f6f1

.left_content
  width 675px
  float left
  margin-bottom 60px
  padding-right 40px
  
.content_header
  border-bottom 1px solid #ddd
  padding-bottom 5px
  color #333

.common_link
  color #37a
  cursor pointer
  &:hover
    color #fff
    background #37a

.link_title
  font-weight: normal
  font-size 14px
  overflow hidden
  text-overflow: ellipsis
  white-space nowrap
  margin 6px 0
  a
    color #37a
    &:hover
      color #fff
      background #37a

 .score_img
    display inline-block
    width 55px
    height 12px
    margin 0 3px 0 0
    background-image url('../../lib/images/scoring.png')